body {
  font-family: "Montserrat", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}
.layout_padding {
  padding: 75px 0;
}
.layout_padding2 {
  padding: 45px 0;
}
.layout_padding2-top {
  padding-top: 45px;
}
.layout_padding2-bottom {
  padding-bottom: 45px;
}
.layout_padding-top {
  padding-top: 75px;
}
.layout_padding-bottom {
  padding-bottom: 75px;
}
.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.heading_container h2 {
  font-weight: bold;
  color: #050000;
  padding: 3px 10px;
}
/*header section*/
.hero_area {
  height: 90vh;
  background-image: url(../images/heroSection.png);
  background-size: cover;
}
.sub_page .hero_area {
  height: auto;
}
/*glass header style*/
header {
  overflow: hidden;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: all 0.5s;
  z-index: 99999999;
}
/* Sticky header */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.headerChange {
  background: rgba(0, 0, 0, 0.89);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/*glass header style end*/
.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}
.header_section .nav_container {
  margin: 0 auto;
}
.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
a:hover,
a:focus {
  color: initial;
}
/* Effects */
.nav-link {
  color: #f4f4f4;
  opacity: 0.9;
  text-align: center;
  transition: all 0.4s;
  position: relative;
}
.nav-link:hover {
  opacity: 1;
}
.nav-link::after {
  content: '';
  height: 4px;
  width: 100%;
  background: #d90429;
  display: block;
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  transition: all 0.2s;
  pointer-events: none;
  opacity: 0;
}
.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}
.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}
.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar-brand img {
  width: 100px;
  margin-right: 5px;
}
.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}
.custom_nav-container .navbar-toggler {
  outline: none;
}
.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

/*end header section*/
/* slider section */
.slider_section {
  height: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .detail-box {
  color: #ffffff;
}

.slider_section .detail-box h1 {
  text-transform: uppercase;
}

.slider_section .detail-box h1 span {
  color: #d90429;
}

.slider_section .detail-box p {
  margin-top: 15px;
}

.slider_section .detail-box .btn-box {
  margin-top: 45px;
}

.slider_section .detail-box .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #d90429;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
}

.slider_section .detail-box .btn-box a:hover {
  background-color: transparent;
  border-color: #d90429;
  color: #d90429;
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .carousel-indicators {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: initial;
  width: 25px;
  height: 200%;
  margin: 0;
  bottom: 50%;
  right: 45px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.slider_section .carousel-indicators::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 55%;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider_section .carousel-indicators span {
  margin: 0 2px;
}

.slider_section .carousel-indicators li {
  text-indent: unset;
  margin: 0;
  border: none;
  opacity: 1;
  background-color: transparent;
  width: auto;
  height: auto;
}

.slider_section .carousel-indicators li.active {
  color: #d90429;
}

.slider_section .custom_carousel-control {
  position: absolute;
  top: 50%;
  left: 25px;
  width: 105px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider_section .custom_carousel-control .carousel-control-prev,
.slider_section .custom_carousel-control .carousel-control-next {
  margin: 10px 0;
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center;
  background-color: #e8e8e8;
  border-radius: 100%;
}

.slider_section .custom_carousel-control .carousel-control-prev:hover,
.slider_section .custom_carousel-control .carousel-control-next:hover {
  background-color: #d90429;
}

.slider_section .custom_carousel-control .carousel-control-prev {
  background-image: url(../images/prev.png);
}

.slider_section .custom_carousel-control .carousel-control-prev:hover {
  background-image: url(../images/prev-white.png);
}

.slider_section .custom_carousel-control .carousel-control-next {
  background-image: url(../images/next.png);
}

.slider_section .custom_carousel-control .carousel-control-next:hover {
  background-image: url(../images/next-white.png);
}

/* end slider section */
.about_section .img-border {
  position: relative;
  display: inline-block;
}
.about_section .img-border:after {
  content: '';
  position: absolute;
  right: 200px;
  top: 2rem;
  border: 2px solid #d90429;
  width: 70%;
  height: 100%;
  z-index: -1;
}
.about_section .img-box img {
  width: 70%;
}
.about_section .detail-box a {
  display: inline-block;
  padding: 8px 35px;
  background-color: #d90429;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 25px;
}
.about_section .detail-box a:hover {
  background-color: transparent;
  border-color: #d90429;
  color: #d90429;
}
.body_bg {
  background-color: white;
  background-size: cover;
}
.service_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}
.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px 0;
  width: 85%;
}
.service_section .box h4 {
  margin-top: 5px;
}
.service_section .box a {
  padding: 6px 25px;
  border: 1px solid #d90429;
  color: #d90429;
  text-transform: uppercase;
}
.service_section a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.service_section a:hover {
  border: 1px solid #d90429;
  color: #fff;
  border: 1px solid transparent;
  background-color: #d90429;
}
.service_section .img-box {
  margin: 20px 0;
}
.service_section .img-box img{
  max-height: 50px;
}
.quote_section {
  background-image: url(../images/heroSection.png);
  color: white;
  margin: 4% 0;
}
.quote_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quote_section .box .btn-box a {
  display: inline-block;
  padding: 10px 55px;
  background-color: #d90429;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
}
.quote_section .box .btn-box a:hover {
  background-color: transparent;
  border-color: #d90429;
  color: #d90429;
}
.contact_section .contact_bg {
  background-color: #ffffff;
}
.contact_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 45px;
}
.contact_section .contact_form {
  padding-left: 25px;
  padding-right: 25px;
}
.contact_section .contact_form .top_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact_section .contact_form .top_input input {
  width: 48%;
}
.contact_section .contact_form input {
  width: 100%;
  margin: 15px 0;
  height: 50px;
  padding-left: 15px;
  border: none;
  outline: none;
  background-color: #1c1b2d;
  color: #ffffff;
  border-radius: 6px;
}
.contact_section .contact_form input.message_input {
  padding: 25px 0 90px 15px;
}
.contact_section .contact_form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.contact_section .contact_form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.contact_section .contact_form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.contact_section .contact_form input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.contact_section .contact_form button {
  display: inline-block;
  padding: 8px 35px;
  background-color: #d90429;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 45px;
}
.contact_section .contact_form button:hover {
  background-color: transparent;
  border-color: #d90429;
  color: #d90429;
}
.contact_section .img-box img {
  max-height: 500px;
  height: 100%;
  filter: hue-rotate(56deg) saturate(120%) brightness(100%);
}
.contact_section .img-box {
  margin: 0 10%;
}
/* client_section */
.client_section {
  font-family: "Montserrat", sans-serif;;
}
.client_section .img-box {
  min-width: 175px;
  max-width: 175px;
}
.client_section .img-box img {
  width: 100%;
}
.client_section .client_container {
  width: 70%;
  margin: auto;
}
.client_section .client-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.client_section .client_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  padding-left: 20px;
}
.client_section .client_name h3 {
  font-weight: 300;
  text-transform: uppercase;
}
.client_section .client_name p {
  color: #d90429;
}
.client_section .client_detail {
  padding: 25px 45px;
  background-color: #d90429;
}
.client_section .client_text p,
.client_section .client_text blockquote {
  margin: 0;
  position: relative;
  color: #fff;
}
.client_section .client_text blockquote::before,
.client_section .client_text blockquote::after {
  position: absolute;
  font-family: "FontAwesome";
  font-size: 20px;
}
.client_section .client_text blockquote::before {
  content: "\f10d";
  top: -6px;
  left: -30px;
}
.client_section .client_text blockquote::after {
  content: "\f10e";
  bottom: -10px;
  right: 5px;
}
.client_section .carousel-indicators {
  bottom: -75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.client_section .carousel-indicators li {
  width: 15px;
  height: 15px;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  background-color: #d90429;
  opacity: 1;
  border-radius: 100%;
}
.client_section .carousel-indicators li.active {
  background-color: #000;
}
/* end client_section */
.info_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info_section .footer_contact {
  width: 350px;
}
.info_section .footer_contact .heading_container h2 {
  width: 100%;
  text-align: center;
}
.info_section .footer_contact .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 20px 0 20px;
}
.info_section .footer_contact .box .img-box .img-2 {
  display: none;
  filter: hue-rotate(332deg);
}
.info_section .footer_contact .box .img-box:hover .img-1 {
  display: none;
  filter: hue-rotate(332deg);
}
.info_section .footer_contact .box .img-box:hover .img-2 {
  display: inline;
  filter: hue-rotate(332deg);
}
/* footer section*/
.footer_section {
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-color: #1d1d1d;
  background-image: url(../images/resource/FooterImg2.png);
}
.footer_section p {
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.footer_section a {
  color: #ffffff;
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */
footer {
  background-image: url(../images/resource/FooterImg2.png);
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.footerContent {
  color: white;
  margin: 0px 16% 0px;
  padding: 60px 0;
}
footer .column {
  float: left;
  width: 50%;
  padding: 10px;
}
footer .row:after {
  content: "";
  display: table;
  clear: both;
}
footer img {
  align-items: center;
  float: left;
  max-width: 200px; 
  width: 100%;
}
.pageLinks {
  color: #fff;
  text-align: center;
  line-height: 1.5rem;
  transition: all 0.4s;
  position: relative;
}
/* Effects */
.pageLinks:hover {
  opacity: 1;
  color: #d90429;
}
.pageLinks::after {
  content: '';
  height: 2px;
  width: 100%;
  background: #d90429;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: all 0.2s;
  pointer-events: none;
  opacity: 0;
}
.pageLinks:hover::after,
.pageLinks:focus::after {
  opacity: 1;
}
footer li, a {
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  font-size: 16px;
}
.footerIcons .fa {
  font-size: 2rem;
  padding: 10px;
  width: 4vh;
  margin: 0px 10px 0px 0px;
}
.footerIcons .fa:hover {
  color:#d90429;
}
.footerCreds {
  text-align: center;
  padding: 3px;
  color: white;
}